.post-list__container{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll !important;
  height: 1000px !important;

  &::-webkit-scrollbar{
    display: none;
  }
}